@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root { height: 100%; }


/* small helpers */
.bg-weather {
background: linear-gradient(180deg, rgba(255,255,255,0.6), rgba(255,255,255,0.2));
}
